#blazor-error-ui {
    display: none;
}
body {
    margin: 0;
    overscroll-behavior: none;
}
.sidebar {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}

.sidebar {
    z-index: 1029;
}

.navbar {
    z-index: 1030;
}

.footer,
.content,
.sidebar {
    transition: transform 0.1s ease-out;
}

app {
    height: 100vh;
    overflow: hidden;
}

.content {
    height: calc(100vh - 3.5rem);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    overscroll-behavior: none;
}

.main {
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.navbar {
    border: none;
    background-color: inherit;
    border-radius: 0;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
}

.navbar .navbar-toggler {
    outline: none;
    border-radius: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    align-self: stretch;
}
.download-btn.navbar-toggler {
    height: 3.5rem;
    padding: calc((3.5rem - 22px)/2) !important;
}

.demo-download-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: currentColor;
    mask-image: url("../images/download.svg");
    -webkit-mask-image: url("../images/download.svg");
}
.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: transparent !important;
    height: 2rem;
    width: 2rem;
}
@media (min-width: 1200px) {
    .main {
        min-width: calc(100vw - 300px);
    }

    .sidebar {
        max-height: calc(100vh - 7rem);
    }

    .footer {
        width: 300px;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.16);
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1029;
    }

    .main > .footer {
        display: none;
    }

    .desktop-sidebar-hidden .main {
        min-width: 100vw;
    }

    .desktop-sidebar-hidden,
    .desktop-sidebar-hidden + .footer {
        transform: translateX(-300px);
    }

    .desktop-sidebar-hidden {
        margin-right: -300px;
    }

    .themeswitcher-container-shown {
        transform: translateX(-100%);
    }
}

/* app-sidebar */
.app-sidebar > .nav-pills > .nav-item:first-of-type {
    padding-top: 1rem;
}

.app-sidebar > .nav-pills > .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.app-sidebar .nav-pills > .nav-item a {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.app-sidebar > .nav-pills > .nav-item > a {
    font-size: 1rem !important;
    font-weight: 600 !important;
    padding: .25rem 1rem .25rem .125rem;
}

    .app-sidebar > .nav-pills > .nav-item > a[aria-expanded] ~ ul {
        margin: 0;
    }

.app-sidebar .nav-pills > .nav-item a:not(.active) {
    color: inherit !important;
}

.app-sidebar .nav-pills .nav-item .nav-link {
    text-transform: none;
}

    .app-sidebar .nav-pills .nav-item .nav-link > span:not(.expand-btn):not(.image):not(.badge) {
        flex: 1;
    }

    .app-sidebar .nav-pills .nav-item .nav-link > span.expand-btn {
        margin-right: 4px;
    }

    .app-sidebar .nav-pills .nav-item .nav-link > span.badge {
        flex: 0;
        border-radius: 0.25rem !important;
        min-width: 2.7em;
    }

.dxbs-tree.app-sidebar > ul.nav ul.nav {
    margin: 0 !important;
}

    .dxbs-tree.app-sidebar > ul.nav ul.nav .nav-item {
        padding-bottom: 0;
    }

    .dxbs-tree.app-sidebar > ul.nav ul.nav .nav-link {
        font-size: 0.825rem;
        font-weight: 400;
        padding: 0 1rem;
    }

.dxbs-tree.app-sidebar .badge {
    margin: 0;
    border: 0 !important;
    padding: 3px 4px;
    color: #fff !important;
    background-color: #6c757d !important;
    font-size: 0.75rem;
    font-weight: 400;
}

.sidebar .nav-pills .nav-item {
    margin: 0;
}

.app-sidebar .nav-pills > .nav-item > a:not(.active) {
    background-image: none !important;
}

.app-sidebar .nav-pills > .nav-item > a {
    border: none !important;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.navbar {
    height: 3.5rem;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar .demo-btn-container {
    margin-left: auto;
}

.icon-expand,
.icon-collapse {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: currentColor;
}

.icon-collapse {
    mask-image: url("../images/CollapseButton.svg");
    -webkit-mask-image: url("../images/CollapseButton.svg");
}

.icon-expand {
    mask-image: url("../images/ExpandButton.svg");
    -webkit-mask-image: url("../images/ExpandButton.svg");
}

.footer > div {
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 10px;
    background-color: inherit;
}

.footer:before {
    content: "";
    display: block;
    border: 1px solid;
    border-bottom-style: none;
    opacity: 0.15;
}

.footer .version,
.footer .copyright {
    font-size: 11px;
}