<div class="footer">
    <div class="info-wrapper">
        <div class="version">Version: 0</div>
        <div class="copyright">
            <span>Copyright &copy; 2020-</span><span>@DateTimeNowYear</span>
            Developer Express Inc
        </div>
    </div>
</div>

@code {
    static readonly int DateTimeNowYear = DateTime.Now.Year;
}